body {
    width: 100vw;
    height: 100vh;
    font-family: Inter, -apple-system, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

[cursor],
.cursor {
    cursor: pointer;
    user-select: none;
}

input[type="password"]::-webkit-credentials-cramble-button {
    appearance: none;
}

input[type="password"]::-ms-reveal {
    display: none;
}

input[type="password"]::-ms-clear {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #606266;
}