@import url('./main.css');
@import url('./base.css');
@import url('./size.css');


.error {
    padding: 10px;
    box-sizing: border-box;
    color: #ff3c00;
    background-color: #ff5e2d;
    border: 1px solid #ff3c00;
}